footer {
    background: black;
    height: 290px;
    width: 100%;
    color: white;
    padding-bottom: 200px;
    margin-top: 50px;
}

.footer-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    padding-top: 35px;
   
}

.footer-box {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 40px;
}

.footer-box h1 {
    font-size: 50px; 
    font-weight: bolder;
    color: blueviolet;
}

.footer-box p {
   font-size: 21px;
   line-height: 1.3;
}


.footer-link{
    text-decoration: none;
    margin-left: 20px;
    font-size: 19px;
    line-height: 1.4;
    color:gray;
    font-weight: 600;
}

.footer-link:hover {
    color: goldenrod;
}

.footer-box h2 {
    color: white;
    font-size: 25px;
    text-align: start;
}

.copyright p{
    font-size: 24px;
}