.signup-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.signup-container h2 {
  text-align: center;
  font-size: 2.5rem;
  color: black;
  margin-bottom: 2rem;
  font-weight: 700;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
}

.signup-container form {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 34px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 40px 50px;
  width: 100%;
  max-width: 420px;
  border: 1px solid rgba(255, 255, 255,0.4);
  box-shadow:0 10px 25px rgba(0,0,0,0.12),0 20px 40px rgba(0,0,0,0.08),0 0 15px rgba(255, 255, 255,0.6)inset;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.signup-container form:hover {
  transform: translateY(-10px);
}

.signup-container input {
  width: 100%;
  padding: 16px 20px;
  margin: 12px 0;
  border: 1px solid rgba(37, 99, 235, 0.15);
  background: #f8fbff;
  color: black;
  border-radius: 20px;
  
  font-size: 1.1rem;
  outline: none;
  transition: 0.8s ease;
  font-size: 19px;
  font-weight: bolder;
  cursor: pointer;
}

.signup-container input::placeholder {
  color: gray;
  font-size: 18px;
  font-weight: bold;
}

.signup-container input:focus {
  background:  rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 0 4px rgba(37, 99, 235, 0.15);
  transform: scale(1.02);
}

.signup-container input:hover {
  background: rgba(37, 99, 235, 0.15);
}

.signup-container button {
  width: 100%;
  padding: 16px;
  margin-top: 20px;
  margin-bottom: 15px;
  background: linear-gradient(135deg,#6594f8,#0d3092);
  box-shadow: 0 10px 20px rgba(37, 99, 235, 0.3);
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.signup-container button:hover {
  box-shadow: 0 15px 30px rgba(37, 99, 235, 0.45);
  background: linear-gradient(135deg,#1d4ed8,#1e40af);
  transform: translateY(-3px);
 
}

.signup-container button:active {
  transform: translateY(1px);
}


.login-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: bolder;
  color: darkgray;
}

/* Responsive for mobile */
@media (max-width: 480px) {
  .signup-container form {
    padding: 30px;
  }
  
  .signup-container h2 {
    font-size: 2rem;
  }
}